{#**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 *#}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}
{% trans_default_domain "Modules.Resursbank.PartPayment.Config" %}
{% form_theme form 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr' : {'class': 'form'} }) }}
    <div class="row justify-content-center">
        {% block resursbank_partpayment_general_config %}
            <div class="col-xl-10">
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">api</i> {{ 'Resurs Bank Part Payment'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            {{ form_row(form.general.enabled) }}
                            {{ form_row(form.general.method) }}
                            {{ form_row(form.general.annuity) }}
                            {{ form_row(form.general.threshold) }}

                            <div class="form-group row">
                                <label class="form-control-label">
                                    Max price
                                </label>
                                <div class="col-sm" id="psrbpartpayment-max-price" style="padding-top: calc(.375rem + 1px)"></div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label">
                                    Min price
                                </label>
                                <div class="col-sm" id="psrbpartpayment-min-price" style="padding-top: calc(.375rem + 1px)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            /**
             * Annuity select box.
             *
             * @type {HTMLSelectElement|undefined}
             */
            var methodBox = $(
                '#form_general_method'
            ).get(0);

            /**
             * Annuity select box.
             *
             * @type {HTMLSelectElement|undefined}
             */
            var annuityBox = $(
                '#form_general_annuity'
            ).get(0);

            /**
             * Event handler for when the payment method changes.
             */
            function onChangeMethod() {
                updateAnnuityOptions();
            }

            /**
             * Updates the list of available annuities for the selected payment
             * method.
             */
            function updateAnnuityOptions() {

                /** @type {number|null}*/
                var methodId;

                /** @type {number|null}*/
                var selectedAnnuityMethodId;

                if (annuityBox instanceof HTMLSelectElement) {
                    $(annuityBox).find("option[value!='']").hide();
                    methodId = getSelectedMethodId()
                    selectedAnnuityMethodId = getSelectedAnnuityMethodId()
                    if (selectedAnnuityMethodId !== methodId) {
                        $(annuityBox).val('')
                    }
                    $(annuityBox).find("option[method-id=" + methodId + "]").show();
                }
            }

            /**
             * @return {number|null}
             */
            function getSelectedMethodId() {
                var id = parseInt($(methodBox).val());

                return typeof id === 'number' && id > 0 ? id : null;
            }

            /**
             * @return {number|null}
             */
            function getSelectedAnnuityMethodId() {
                var id = parseInt($(annuityBox).find(":selected").attr('method-id'));

                return typeof id === 'number' && id > 0 ? id : null;
            }

            /**
             * @namespace RbPp
             * @constant
             */
            $(methodBox).on('change', onChangeMethod);
            onChangeMethod();
        })
    </script>
    <script>
        $(document).ready(function () {
            var methodData = JSON.parse('{{ methodVars }}'.replace(/&quot;/g, '"'));

            /**
             * Method select box.
             *
             * @type {jQuery}
             */
            var methodEl = $('#form_general_method');

            /**
             * Element that displays the minimum threshold for the selected
             * payment method.
             *
             * @type {jQuery}
             */
            var minPriceEl = $('#psrbpartpayment-min-price');

            /**
             * Element that displays the maximum threshold for the selected
             * payment method.
             *
             * @type {jQuery}
             */
            var maxPriceEl = $('#psrbpartpayment-max-price');

            /**
             * @param {number} methodId
             */
            function setMinimumPrice(methodId) {
                var selectedMethod = getSelectedMethodData(methodId);

                minPriceEl.text(selectedMethod ? selectedMethod.min : '');
            }

            /**
             * @param {number} methodId
             */
            function setMaximumPrice(methodId) {
                var selectedMethod = getSelectedMethodData(methodId);

                maxPriceEl.text(selectedMethod ? selectedMethod.max : '');
            }

            /**
             * @param {number} methodId
             */
            function getSelectedMethodData(methodId) {
                return methodData.find(function (o) {
                    return o.id === methodId;
                });
            }

            (function init() {
                if (methodEl.length === 1 &&
                    maxPriceEl.length === 1 &&
                    minPriceEl.length === 1
                ) {
                    methodEl.on('change', function () {
                        setMinimumPrice(parseFloat(methodEl.val()));
                        setMaximumPrice(parseFloat(methodEl.val()));
                    });

                    setMinimumPrice(parseFloat(methodEl.val()));
                    setMaximumPrice(parseFloat(methodEl.val()));
                }
            }());
        });
    </script>
{% endblock %}